@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url("./backgroundpicture.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  font-family: 'Sansita Swashed', cursive;
  margin: 1;
}

h1 {
  font-size: 3rem;
  margin-top: -5rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
}

.big-text {
  font-size: 5rem;
  line-height: 1.2;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
}

h2 {
  margin: 1.5rem 1rem; 
  color: #4a4a4a;
  padding: 0.5rem;
  background-color: #dbdbdb;
  border: 0.15rem solid #3c3c3c;  
}

h2:hover, h2:target {
  background-color: #e9e9e9;
  border: 0.15rem solid #3c3c3c;
  cursor: pointer;
}

h2:focus {
  background-color: rgb(197, 190, 160);
  border: 0.15rem solid #3c3c3c;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}

h2:active {
  background-color: rgb(224, 214, 169);
}

h2:hover:focus {
  background-color: rgb(224, 214, 169);
}

.buttons {
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  text-align: bottom;
}
